<!DOCTYPE html>
<head>
<title>MeetGreet</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="  https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="style.css">
<style>
body
{
	margin: 0;
	padding: 0;
	background-color: #F1F1F1;
	line-height: 1.42857143;
}
#div1
{
	position: fixed;
	width : 100%;
	margin-top: -60px;
}
.d1{
	overflow: visible;
	background-color: #222D3C;
	height: 60px;
	width: auto;
	display: block;
    padding: 0px 15px;
}
#heading
{
	font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
	font-size: 40px;
}
.ipt
{
	margin-left: -103px;
	border-radius: 4px;
	padding : 6px 12px;
	width : 475px;
	height : 24px;
	border: 1px solid #ccc;
}
#btn
{
background-color: #222D3C; /* Green */
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
background-color: white;
color: black;
border: 2px solid #222D3C;
}

#btn:hover
{
	background-color: #222D3C;
	color: white;
}
.hetesh
{
	padding-left: 15px;
	text-align: left;
}
.d1 a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding-left: 20px;
	padding-right: 50px;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.d1 span{
	color: white;
}
.d1 div{
	box-sizing: border-box;
}
.d2{
	height: 100%;
	width: 50px;;
	position: fixed;
	z-index: 1;
	top: 60px;
	left: 0;
	background-color: #000000;
	overflow-x: hidden;
	transition: 0.5s;
}

.d2 a{
	display: block;
	padding: 11px 4px 11px 15px;
	text-decoration: none;
	color: #999999;
	transition: 0.1s;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	white-space: nowrap;
	cursor: pointer;
}
.fa{
	font-size: 21px;
	padding-right: 10px;
}
.d2 a:hover{
	color : #fff;
	background-color: #111;
	border-left : 2px solid;
	border-left-color: red;
}
.active{
	background-color: #337AB7;
}
.d2 img{
	width: 60px;
	height: 60px;
}
#act
{
	color: white;
}
.sadmin{
	float: right;
	padding: .2em .6em .3em;
	font-size: 75%;
    font-weight: 700;
    line-height: 1;
	border-radius: 4px;
}
img{
	cursor: pointer;
    width: 40px;
    margin-left: 30px;
    margin-right: 10px;
	margin-top: 10px;
    float: right;
    border-radius: 50%;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	height : 112px;
}
 /* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
#btndiv
{
 width : 223px;
}

#yesbtn
{
 width : 96px;
 height: 45px;
 float : left;
 background-color: #222D3C; /* Green */
 border: none;
 color: white;
 padding: 10px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 cursor: pointer;
 background-color: white;
 color: black;
 border: 2px solid #222D3C;
}
#yesbtn:hover
{
	background-color: #222D3C;
	color: white;
}
#nobtn
{
 width : 96px;
 height : 45px;
 float : right;
 background-color: #222D3C; /* Green */
 border: none;
 color: white;
 padding: 10px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 cursor: pointer;
 background-color: white;
 color: black;
 border: 2px solid #222D3C;
}
#nobtn:hover
{
	background-color: #222D3C;
	color: white;
}
#syesbtn
{
 width : 96px;
 height: 45px;
 float : left;
 background-color: #222D3C; /* Green */
 border: none;
 color: #5CB85C;
 padding: 10px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 background-color: white;
 cursor: pointer;
 color: black;
 border: 2px solid #5CB85C;
}
#syesbtn:hover
{
	background-color: #5CB85C;
	color: white;
}
#snobtn
{
 width : 96px;
 height : 45px;
 float : right;
 background-color: #222D3C; /* Green */
 border: none;
 color: white;
 padding: 10px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 cursor: pointer;
 background-color: white;
 color: black;
 border: 2px solid #D9534F;
}
#snobtn:hover
{
	background-color: #D9534F;
	color: white;
}

.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.compicc
{
	width: 85px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.divforpic
{
	float: left;
    height: 98px;
    padding-left: 36px;
}
#commbtn
{
	background-color: #5CB85C;
	color : white;
	float : right;
	border-radius: 4px;
	border : 1px solid #fff;
}
.p2
{
	font-family: 'Open Sans', sans-serif;
font-weight: bold;
word-wrap: break-word;
font-size: 14px;
padding: 12px 0 0 0;
outline: none !important;
margin-left: 28px;
padding-top: 22px;
color: #337ab7;
}
.hr
{
	display: block;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;
	margin-top : -77px;
}
.commname
{
	font-family: 'Open Sans', sans-serif;
font-weight: bold;
word-wrap: break-word;
font-size: 20px;
padding: 12px 0 0 0;
outline: none !important;
margin-left: 28px;
padding-top: 22px;
color: #337ab7;
}
#list
{
padding-top: 32px;
margin-left: 60px;
}
.listkidiv
{
background-color: white;
height: 102px;
width: 900px;
}
</style>
</head>
<body>
<div id="div1" class="d1">
<br>
<a href="#">MeetGreet</a>
<span style="cursor:pointer;" onclick="funcNav()">&#9776;</span>

<span class="sadmin" style="background-color: #5cb85c;margin-left:5px">admin</span>
<span class="sadmin" style="background-color: #f0ad4e;">superadmin</span>
</div>
<div id="div2" class="d2">
	<a href="#" onclick="funcNav()"><span class="fa"><i class="fa fa-bars"></i></span>MeetGreet</a>
	<a href="/userDetails"><span class="fa"><i class="fa fa-user"></i></span>Home</a>
	<a class="active" href="#"><span class="fa"><i id="act" class="fa fa-users"></i></span>Communities</a>
  <a href="#" id="switchspan"><span class="fa"><i class="fa fa-toggle-on"></i></span>Switch As Admin</a>
	<a href="/Userchangepassword"><span class="fa"><i class="fa fa-lock"></i></span>Change Password</a>
	<a href="#" id="logoutspan"><span class="fa"><i class="fa fa-sign-out"></i></span>Logout</a>
</div>
<div id ="changepassword">
<% include partials/innercommunitypage.ejs%>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
		<p><b>Are you sure you want to logout ?</b></p>
		<div id="btndiv">
		<button type="button" id="yesbtn" name="button">Yes</button>
		<button type="button" id="nobtn" name="button">No</button>
	</div>
  </div>

</div>
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close2">&times;</span>
    <p><b>Are you sure you want to switch as an Admin ?</b></p>
		<div id="btndiv">
		<button type="button" id="syesbtn" name="button">Yes</button>
		<button type="button" id="snobtn" name="button">No</button>
	</div>
  </div>

</div>
</body>
<script>
function funcNav()
{
	var div2=document.getElementById('div2');
	if(div2.style.width=="250px")
		div2.style.width="50px";
	else
		div2.style.width="250px";
}
var yesbtn = document.getElementById('yesbtn');
yesbtn.addEventListener("click" , function(abc)
{
window.location.href="http://localhost:8000/linkedin";
})
var nobtn = document.getElementById('nobtn')
nobtn.addEventListener("click" , function(abc)
{
	  var modal10 = document.getElementById('myModal');
		modal10.style.display = "none";
})
var logout = document.getElementById('logoutspan');
logout.addEventListener("click" , function(abc)
{
  var modal = document.getElementById('myModal');
  var span = document.getElementsByClassName("close")[0];
  modal.style.display = "block";
  span.onclick = function()
{
  modal.style.display = "none";
}
})

// for switch user
// var modal20 = document.getElementById('myModal2');
// var span1 = document.getElementsByClassName("close2")[0];
// span1.onclick = function() {
// modal20.style.display = "none";
// }
// var snobtn = document.getElementById('snobtn')
// snobtn.addEventListener("click" , function(abc)
// {
// 	  var modal20 = document.getElementById('myModal2');
// 		modal20.style.display = "none";
// })
// var syesbtn = document.getElementById('syesbtn');
// syesbtn.addEventListener("click" , function(abc)
// {
// window.location.href="http://localhost:8000/userDetails";
// })
// var switchuser = document.getElementById('switchspan');
// switchuser.addEventListener("click" , function(abc)
// {
//   var modal = document.getElementById('myModal2');
//   var span = document.getElementsByClassName("close")[0];
//   modal.style.display = "block";
//   span.onclick = function()
// {
//   modal.style.display = "none";
// }
// })
</script>
</html>
