<div id="cpbox">
<center>
<div id="icpbox">
<p id="heading"> Change Password </p>
<p class = "hetesh" > <b> Username : </b> </p>
<input type="text" class = "ipt" id="username">
<br>
<p class = "hetesh" ><b> Old Password : </b> </p>
<input type="password" class = "ipt" id="oldpass">
<br>
<p class = "hetesh" > <b> New Password : </b> </p>
<input type="password" class = "ipt" id="newpass">
<br><br>
<button type="button" name="button" id="btn">Submit</button>
</div>
</div>
<script src="changepass.js">
</script>
