<div class="community-header-top" style="height:50px;padding-top:6px;" id="topbar">
<div class="col-sm-12 community-sub-head">
    <a class="btn community-head-btn" href="http://localhost:8000/communitypage" id="upbtn1">
      <i class="fa fa-users"></i>
    </a>
    <a class="btn community-head-btn" style="margin-left:10px" href="http://localhost:8000/Allcommunity" id="upbtn2">
      <i class="fa fa-search"></i>
    </a>
     <input type="text" oninput="search()" id="search"placeholder="Enter Community name.." class="btn" style="float:right;margin-right:30px;">
</div>
</div>
<ul id="list" style="list-style-type:none;">
  </ul>
<script src="allcommunity.js">
</script>
