<div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
         <div class="container-fluid page-content-div" style="padding:0">
            <div class="row">
               <div class="col-lg-12 scoll-possible" style="padding:0">




  <div class="community-header-top communityheader-profile-mobile" id="uprkidiv" style="padding-top:6px;position:relative;">
    <div class="container pc">
  <button class="btn btn-info community-panel-btn requestBtn joinBtn" data-id=0 style="float:right" id="btnforjoining1"> Join <i class="fa fa-ask"></i></button>
  </div>
    <center>
      <a href="#">
        <img src="/uploads/commpic.png" class="mobile img-communityprofile-pic allSides" style="background:#fff" />
      </a>
    </center>
  </div>

<div class="container community-profile-conatiner">
<div class="col-sm-2 col-xs-12 center-mobile pc">
<a href="#">
  <img src="/uploads/commpic.png" class="img-communityprofile-pic allSides" style="background:#fff" id="commpicture"/>
</a>
</div>

<div class="col-sm-8 communityprofile-name-pc communityprofile-system" id="namediv">
  <a href="#" class="communityprofile-name-pc" id="namecomm">
    dfg
  </a>
</div>


</div>
<center>
<hr style="border-top:2px solid #E6E6E6;width:100%;margin-top:40px" id="hr">
</center>
<div class="container" style="width:94% !important">

    <div class="col-sm-3 col-xs-12">
      <div class="panel panel-default allSidesSoft" style="border-radius:0">
        <div class="panel-body" style="border:0;border-radius:0">
              <div class="col-sm-12 col-xs-12 center-all">
              <button class="btn btn-primary requestBtn joinBtn" data-id=0 id="btnforjoining"> Join <i class="fa fa-ask"></i></button>
              </div>
        </div>
        <div class="panel-footer community-panel-sideBtn-link">
            <p class="center-all" style="margin:0" id="owner">
             Members(0)
            </p>
        </div>
      </div>
        <div class="panel panel-default allSidesSoft" style="border-radius:0">
          <div class="panel-heading" style="border:0;border-radius:0">
            Community Managers
          </div>
          <div class="panel-body" style="border:0;border-radius:0">
            <div id="commuity-owner-detail">
              <!--Owner Info-->
            </div>
            <div id="commuity-admins-detail">
              <!--Admin Info-->
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-8 col-xs-12 separator-community-admin" style="padding:0 10px 10px 10px;">

      <div class="panel panel-default allSidesSoft" style="border-radius:0">
        <div class="panel-heading center-all" style="border:0;border-radius:0">
          About Community
        </div>
        <div class="panel-body" style="border:0;border-radius:0;overflow:scroll">
              <p class="short-description center-all" id="desc">
                //description
              </p>
              <div class="full-description">

              </div>
        </div>
      </div>
    </div>
<script src="commdetails.js">
  </script>
