<body>
    <div class="main allSides">
      <table id="boxes">
      <tr><td>
          <div id="image" class="allSides">
            <img src="logo.png" style="height: 108px; width:114px;display: block" id="profilepic">
          </div>
        </td></tr>
      <tr>
        <td><div class="textbox allSides">
            <div class="head"><p>Email</p></div>
            <div class="content" id="email"> </div>
        </div></td>
        <td><div class="textbox allSides">
            <div class="head"><p>Gender</p></div>
            <div class="content" id="gender"> </div>
        </div></td>
      </tr>

      <tr>
        <td><div class="textbox allSides">
            <div class="head"><p>Name</p></div>
            <div class="content" id="name"></div>
        </div></td>
        <td><div class="textbox allSides">
            <div class="head"><p>City</p></div>
            <div class="content" id="city"></div>
        </div></td>
      </tr>
      <tr>
        <td><div class="textbox allSides">
            <div class="head"><p>D.O.B.</p></div>
            <div class="content" id="dob"></div>
        </div></td>
        <td><div class="textbox allSides">
            <div class="head"><p>Phone No.</p></div>
            <div class="content"  id="phoneno"></div>
        </div></td>
      </tr>
      </table>
    </div>
    <script src="mainpage.js">
      </script>
