<div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
         <div class="container-fluid page-content-div" style="padding:0">
            <div class="row">
               <div class="col-lg-12 scoll-possible" style="padding:0">



<div class="community-header-top communityheader-profile-mobile" style="padding-top:6px;position:relative;">
    <div class="container pc">

</div>
    <center>
        <div class="communityprofile-name-mobile" style="max-height:40px;overflow:scroll">
          <a href="#" style="color:white" id="name">

          </a>
        </div>
    </center>

    <center>
      <a href="#">
        <img src="" class="mobile img-communityprofile-pic allSides" style="background:#fff" />
      </a>
    </center>

</div>

<div class="container community-profile-conatiner">
<div class="col-sm-2 col-xs-12 center-mobile pc">
<a href="#">
  <img class="img-communityprofile-pic allSides" style="background:#fff" id="profilepic" />
</a>
</div>

<div class="col-sm-8 communityprofile-name-pc communityprofile-system">
  <a href="/community/communityprofile/5cf0c7e80a79ed1439525947" class="communityprofile-name-pc" id="name1">

  </a>
</div>


<div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button" data-toggle="dropdown">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="margin-top:40px">


      <li>
          <a href="/community/discussion/5cf0c7e80a79ed1439525947" class="community-profile-option-btn">
            Discussions
          </a>
      </li>



      <li>
          <a href="/community/managecommunity/5cf0c7e80a79ed1439525947" class="community-profile-option-btn">
            Manage Community
          </a>
      </li>


      <li>
          <a href="/community/communityprofile/5cf0c7e80a79ed1439525947" class="community-profile-option-btn">
            Community Profile
          </a>
      </li>

      <li>
          <a href="/community/communitymembers/5cf0c7e80a79ed1439525947" class="community-profile-option-btn">
            Community Members
          </a>
      </li>

    </ul>
</div>
</div>

</div>
<center>
    <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
</center>


<!--=========================Message For Rejection==================================-->
<div class="modal fade" id="popUpManageCommunityMessage" role="dialog" style="z-index:9999">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="mailheader">Reject Message</h4>
        </div>
        <div class="modal-body">
        <!------------------------------------------------------------------------------------>
        <div class="form-horizontal"> <!-- form -->
          <div class="form-group">
            <div class="col-sm-12">
              <center>
                <p id="fullNameMessagePop"></p>
              </center>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12"><!--Body-->
              <textarea type="text" class="form-control" id="messageBoxPop" style="resize: none;height:200px" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" id="sendButtonPop" style="float:right">Send And Reject</button>
            </div>
          </div>
        </div>
        <!---------------------------------------------------------------------------------->
        </div>
      </div>
    </div>
  </div>

<div class="container">
<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12" style="padding-bottom:5px;border-bottom:1px solid #c4c4c4">
  <nonLink class="manageCommunity-head-btn" style="cursor: context-menu;">
    Manage Community
  </nonLink>
  <a href="/community/invite/5cf0c7e80a79ed1439525947" style="float:right;font-weight:600">
    Invite Users
  </a>

  <a class="pc" href="/community/editcommunity/5cf0c7e80a79ed1439525947" style="float:right;font-weight:600;margin-right:15px">
    Edit Community
  </a>

</div>
<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12" style="padding:10px 0 0 0;">

  <div class="col-sm-3 manageCommunity-commuity-div" style="padding:0">

      <div class="panel-heading allSidesSoft center-all mobile" style="background:#fff;margin-bottom:5px">
          <a class="btn btn-primary editcommunity-btn">
            Edit Commuity
          </a>
      </div>

    <div class="panel-body allSidesSoft" style="background:#fff">
        <a class="manageCommunity-child-btn manageCommunity-btn-active" onclick="UserList()" id="UsersShowBtn">

        </a>
        <br>
        <a class="manageCommunity-child-btn" onclick="AllAdmins()" id="AdminsShowBtn">
            Managers (1)
        </a>



          <br>
          <a class="manageCommunity-child-btn" onclick="Requests(0)" id="requestedUserShowBtn">
            Requests (0)
          </a>

        <br>
        <a class="manageCommunity-child-btn" onclick="Requests(1)" id="invitedUserShowBtn">
           Invited User (0)
        </a>
    </div>
    <br />
  </div>
  <div class="col-sm-9" id="listdiv">
  </div>
<script>
  var pic = document.getElementById('profilepic');
  var name1 = document.getElementById('name1');
  var memberbtn = document.getElementById('UsersShowBtn');
  var inviteduserbtn = document.getElementById('invitedUserShowBtn');
  var requestbtn = document.getElementById('requestedUserShowBtn');
  var listdiv = document.getElementById('listdiv')
  var data = [];
  filldetails();
//  memberdetails();
  function filldetails()
  {
    var request = new XMLHttpRequest();
    request.addEventListener("load" , function(Abc)
  {
    data = JSON.parse(request.responseText);
    console.log(data);
    pic.setAttribute('src' , data[0].commpic);
    name1.innerHTML = data[0].name;
    memberbtn.innerHTML = "Members (" + data[0].members.length +")";
    requestbtn.innerHTML = "Requested (" + data[0].requested.length +")";
    memberdetails(data);
  })
  request.open('GET', '/getownedcommunitydetails');
  request.setRequestHeader("Content-Type" , "application/json");
  request.send();
  }
  function memberdetails(data)
  {
    var i=0;
    while(i<data[0].members.length)
    {
      var xhttp1 = new XMLHttpRequest();
      xhttp1.addEventListener("load" , function()
      {
        var data1 = JSON.parse(xhttp1.responseText);
        console.log(data1);
        var bigdiv = document.createElement('div');
        var innerdiv = document.createElement('div');
        innerdiv.setAttribute('class' , 'col-sm-12 col-xs-12 allcoms community-user-div');
        innerdiv.setAttribute('style' , 'margin-top:5px');
        var divpic = document.createElement('div');
        var img = document.createElement('img');
        var h3 = document.createElement('h4');
        h3.setAttribute('id' , 'h4');
        h3.innerHTML = data1[0].users;
        var idiv = document.createElement('div');
        idiv.setAttribute('id' , 'idiv');
        var i = document.createElement('i');
        var cdiv = document.createElement('div');
        cdiv.setAttribute('id' , 'cdiv');
        var i1 = document.createElement('i');
        i1.setAttribute('class' , 'fa fa-times')
        i.setAttribute('class' , 'fa fa-chevron-up')
        img.setAttribute('src' , 'default.png');
        img.setAttribute('style' , 'float:left');
        divpic.appendChild(img);
        bigdiv.appendChild(divpic);
        bigdiv.appendChild(innerdiv);
        bigdiv.appendChild(h3);
        idiv.appendChild(i);
        cdiv.appendChild(i1);
        bigdiv.appendChild(idiv);
        bigdiv.appendChild(cdiv);
        listdiv.appendChild(bigdiv);
      });
      xhttp1.open("POST", "/getmemberdetails");
      xhttp1.setRequestHeader("Content-Type", "application/json");
      xhttp1.send(JSON.stringify({'email': data[0].members[i]}));
      i++;
    }
  }
</script>
