<div id="tbox">
<center>
<div id="itbox">
<p id="heading"> Create Tag <p>
<br>
<input type="text" class = "ipt" id="tagsipt" placeholder="Tag Name">
<br>
<button type="button" name="button" id="btn">Submit</button>
</div>
<button type="button" name="button" id="taglist">Tag List</button>
</div>
<script src="tagpage.js">
</script>
